{
    "openapi": "3.0.2",
    "info": {
      "title": "IT Wallet API - Utility Service",
      "description": "API for IT Wallet Utility Service",
      "version": "0.7.1"
    },
    "servers": [
      {
        "url": "https://util.wallet.ipzs.it",
        "description": "Main (production) server"
      }
    ],
    "paths": {
      "/revokeAll": {
        "post": {
          "tags": [
            "Utility Service"
          ],
          "summary": "The Wallet Provider revoke all credentials for a specific user",
          "operationId": "revokeAll",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeAllRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "204": {
              "description": "No Content"
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "description": "The error code",
                        "example": "invalid_request"
                      },
                      "error_description": {
                        "type": "string",
                        "description": "Text in human-readable form providing further details to clarify the nature of the error encountered",
                        "example": "The issuer cannot fulfill the request because of invalid parameters"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "description": "The error code",
                        "example": "not_found"
                      },
                      "error_description": {
                        "type": "string",
                        "description": "Text in human-readable form providing further details to clarify the nature of the error encountered",
                        "example": "No credentials found or all credentials are already revoked"
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "description": "The error code",
                        "example": "internal_server_error"
                      },
                      "error_description": {
                        "type": "string",
                        "description": "Text in human-readable form providing further details to clarify the nature of the error encountered",
                        "example": "The Issuer encountered an internal problem."
                      }
                    },
                    "required": [
                      "error"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "RevokeAllRequest": {
          "required": [
            "unique_id",
            "wallet_provider"
          ],
          "type": "object",
          "properties": {
            "unique_id": {
              "type": "string",
              "description":"Unique citizen identifier"
            },
            "wallet_provider": {
              "type": "string",
              "description": "Wallet Provider's EntityID"
            }
          }
        }
      }
    }
  }